<%- include('partials/header') %>

<div class="content">
    <div class="subsection">
        <h2>Upcoming Contests</h2>
        <iframe class="event-calendar" src="https://calendar.google.com/calendar/u/0/embed?src=iu1iul1u3n8ic3s78f4df15u4o@group.calendar.google.com&ctz=Asia/Kolkata&mode=month"></iframe>
    </div>
</div>


<%- include('partials/footer') %>
