<%- include('partials/header') %>
<div class="content">
  <div class="leaderboard">
    <h2>Problems of the day</h2>
    <br />
    <table class="problemset" id="potd">
      Loading....
    </table>
    <br />
    <br />
    <h2>Archive: Problems, Tags, and Ratings</h2>
    <br />
    <table class="problemset" id="archive">
      Loading....
    </table>
  </div>
</div>
<script src="./utils.js"></script>
<script src="scripts/index.js"></script>

<%- include('partials/footer') %>
