<%- include('partials/header') %>
<link rel="stylesheet" href="style/members.css">
<div class="content">
    <h2>Members</h2>
    <table class="team-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <% for(const user of data) {%>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.post%></td>
            </tr>
            <% } %>
            </tr>
        </tbody>
    </table>
</div>
    
<%- include('partials/footer') %>
