<div class="navbar">
    <h1><i class="fas fa-code"></i> Algonauts</h1>
    <div class="nav-links">
        <a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
        <button id="themeToggle" class="theme-toggle-btn">
            <i class="fas fa-lightbulb"></i>
            <span>Switch Theme</span>
        </button>
    </div>
</div>