<div class="sidebar">
    <div class="profile-section">
      <div class="code-icon"><i class="fas fa-terminal"></i></div>
      <h3>Competitive Coding</h3>
    </div>
    <a href="/"><i class="fas fa-home"></i> Home</a>
    <a href="/leaderboard"><i class="fas fa-trophy"></i> Leaderboard</a>
    <a href="/rulebook"><i class="fas fa-book"></i> Rulebook</a>
    <a href="/calendar"><i class="fas fa-calendar-alt"></i> Event Calendar</a>
    <a href="/members" class="active"><i class="fas fa-users"></i> Members</a>
    <a href="/problems"><i class="fas fa-tasks"></i> Problem Set</a>
  </div>