<div class="sidebar">
    <a href="/">Home</a>
    <a href="/leaderboard">Leaderboard</a>
    <a href="/rulebook">Rulebook</a>
    <a href="/calendar" >Event Calendar</a>
    <a href="/members" class="active">Members</a>
  </div>